*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;

}
.col{
    flex-basis: 50%;
}
h1{
    color: #c4c9c2;
    font-size: 100px;
    
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border-radius:20px;
    outline: none;
    margin-top: 30px;
}
.image{
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
}

.avocado{
    width: 60%;
    height: 800px;
    cursor: pointer;
    display: flex;
}
h2{
    margin-top: -200px;
    color: #c4c9c2;
    font-size: 50px;
}

h3{
    color: #c4c9c2;
    font-size: 20px;
    text-align: justify;
    text-indent: 100px;
}
.me{
    width: 60%;
    height: 800px;
    cursor: pointer;
    display: flex;
}

.vid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    margin: 0;
}
.vid iframe{
    padding: 10px;
    min-width:190vh;
    min-height:86vh; 
}

.screenshot{
    width: 60%;
    height: 800px;
    cursor: pointer;
    display: flex;
}